* {
  box-sizing: border-box;
  font-family: 'Kosugi Maru', sans-serif;
  background-color: #F1F1F1;
}

form{
  background-color: white;
}

.page-title{
  text-align: center;
}
.page-title-1, .description{
  text-align: center;
  background-color:white;
}

#button{
  padding: 2px;
  border: 1px solid #ADD8E6;
  text-decoration: none;
  background-color: #ADD8E6;
  color: white;
  font-weight: 300;
  font-size: 12px;
}
form#rating-filter-form{
  background-color: #f1f1f1;
}

#button2{
  border-radius: 10px;
  padding: 5px;
  text-decoration: none;
  background-color: #ADD8E6;
  color: white;
  border: none;
  font-weight: 300;
  font-size: 14px;
  border: 3px solid #ADD8E6
}
#button2:hover{
  background: transparent;
  color: #ADD8E6;
}


#button:hover{
  color: #ADD8E6;
  background-color: white;
}
.link{
  font-size: 12px;
}

.hidden {
  display: none;
}

#bookmarks-list-item {
  width: 250px;
}

.container {
  max-width: 600px;
  margin: 0 auto;
  padding-bottom: 50px;
}

.bookmarks-list {
  list-style: none;
  padding-left: 0;
}
.delete-wrapper{
  background-color: white;
}

i{
  background-color: white;
}

.bookmarks-list > li {
  margin-bottom: 20px;
  border: 1px solid grey;
  padding: 20px;
}

.shopping-item {
  display: block;
  color: grey;
  font-style: italic;
  font-size: 20px;
  margin-bottom: 15px;
}


.error-container {
  color: red;
}
.js-booksmarks-form{
  background-color: white;
}

.form-wrapper{
  padding: 15px;
  background-color: white;
  margin: 50px auto;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.22);
  -moz-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.22);
  -webkit-box-shadow:  0px 0px 15px rgba(0, 0, 0, 0.22);
}
.description{
  font-size: 12px;
  font-weight: 300;
}

li.js-item-element{
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.22);
  -moz-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.22);
  -webkit-box-shadow:  0px 0px 15px rgba(0, 0, 0, 0.22);
  border: lightgrey;
  border-radius: 10px;
  background-color: white;
}
label{
  font-size: 12px;
  font-weight: 300;
  background-color: white;
}

.input{
  box-sizing: border-box;
 -webkit-box-sizing: border-box;
 -moz-box-sizing: border-box;
 outline: none;
 display: block;
 width: 100%;
 padding: 7px;
 border: none;
 border-bottom: 1px solid #ddd;
 background: transparent;
 margin-bottom: 10px;
 height: 45px;
}

.top-wrapper{
  margin: auto;
  text-align: center;
  background-color: white;
}
